<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1Remote.VncSharpCore" version="1.2.1" targetFramework="net472" />
  <package id="Avalonia" version="11.0.11" targetFramework="net472" />
  <package id="Avalonia.BuildServices" version="0.0.29" targetFramework="net472" />
  <package id="Avalonia.Headless" version="11.0.11" targetFramework="net472" />
  <package id="Avalonia.Headless.Vnc" version="11.0.11" targetFramework="net472" />
  <package id="Avalonia.Remote.Protocol" version="11.0.11" targetFramework="net472" />
  <package id="MicroCom.Runtime" version="0.11.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Quamotion.RemoteViewing" version="1.1.211" targetFramework="net472" />
  <package id="Quamotion.RemoteViewing.LibVnc" version="1.1.211" targetFramework="net472" />
  <package id="Quamotion.RemoteViewing.LibVnc.NativeBinaries" version="1.1.211" targetFramework="net472" />
  <package id="Quamotion.RemoteViewing.Windows.Forms" version="1.1.211" targetFramework="net472" />
  <package id="Quamotion.TurboJpegWrapper" version="2.0.32" targetFramework="net472" />
  <package id="RemoteViewing" version="0.9.4" targetFramework="net472" />
  <package id="Sang.RemoteViewing" version="2.0.1" targetFramework="net472" />
  <package id="Sang.RemoteViewing.Windows.Forms" version="2.0.1" targetFramework="net472" />
  <package id="SharpCompress" version="0.37.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Validation" version="2.5.42" targetFramework="net472" />
  <package id="VncSharp" version="1.0.7.0" targetFramework="net472" />
  <package id="VncSharpCore" version="1.2.1" targetFramework="net472" />
  <package id="ZstdSharp.Port" version="0.8.0" targetFramework="net472" />
</packages>